/* Write your CSS here */
.home-team-card-list {
  list-style-type: none;
}

.team-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 336px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  padding: 15px;
  border-radius: 12px;
  background-color: #ffffff33;
  margin: 15px;
}

.ipl-team-name-logo {
  height: 120px;
  width: 110px;
}

.team-name-heading {
  font-family: 'Bree Serif';
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-left: 12px;
}
