/* Write your CSS here */
.home-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.ipl-logo-card-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.ipl-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 90px;
}

.ipl-logo-size {
  height: 45px;
  width: 32px;
}

.ipl-dashboard-heading {
  font-family: 'Bree Serif';
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  padding-left: 10px;
}

.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  align-items: center;
  justify-content: center;
}
