.bg-container {
  background-color: #a4261d;
  background-size: cover;
  height: 100vh;
  padding: 48px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest-matches-heading {
  font-family: 'Bree Serif';
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-left: 0;
  padding-left: 0;
  align-self: flex-start;
  margin-left: 73px;
}

.latest-matches-container {
  border-radius: 14px;
  border-width: 0;
  width: 1118px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1e293b;
}

.compete-team-heading {
  font-family: 'Bree Serif';
  font-size: 28px;
  font-weight: 400;
  color: #ffffff;
}

.date {
  font-family: 'Bree Serif';
  font-size: 26px;
  font-weight: 400;
  color: #ffffff;
}

.venue {
  font-family: 'Bree Serif';
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.status {
  font-family: 'Bree Serif';
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.compete-team-logo {
  height: 220px;
  width: 170px;
  margin-right: 160px;
}

.innings-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.first-innings-heading {
  font-family: 'Bree Serif';
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
}

.innings-para {
  font-family: 'Bree Serif';
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}

.second-innings-heading {
  font-family: 'Bree Serif';
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.man-of-the-match-heading {
  font-family: 'Bree Serif';
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}

.umpires-heading {
  font-family: 'Bree Serif';
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
  width: 1118px;
}
